body {
  
  overflow-x: auto;
}

/* Navigation bar */
.topnav {
  background-color: #87CEFA;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #E0FFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Tahoma, Helvetica, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #4682B4;
  color: #191970;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4169E1;
  color: #E0FFFF;
}
